@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0px;
  background-color: antiquewhite;
  font-family: "Open Sans", sans-serif;
}

#lastdate p {
  color: red;
}
#topbar h1 {
  font-family: "Open Sans", sans-serif;
  background-color: blue;
  color: white;
  border-bottom: 1px solid black;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  padding-left: 50px;
  /* padding: 5px; */
}

#topbar .time {
  padding-right: 5px;
  float: right;
  text-align: right;
}
#listbar ol {
  border-right: 1px solid black;
  width: 100px;
  margin: 0px;
  padding: 20px;
  padding-left: 30px;
}
#topbar h1 a {
  text-decoration: none;
  color: white;
}

#listbar ol li a {
  text-decoration: none;
}

#content {
  padding-left: 20px;
}
#main {
  display: grid;
  grid-template-columns: 150px 1fr;
}

@media (max-width: 800px) {
  #main {
    display: block;
  }
  #listbar ol {
    border-right: none;
  }
}

#funcbar {
  border-bottom: 1px solid black;
}

#funcLink a {
  border: 3px solid royalblue;
  background-color: skyblue;
  color: darkgoldenrod;
  text-decoration: none;
}

#funcButton {
  border: 3px solid black;
  width: 50px;
  height: 100px;
}
