body {
  margin: 0px;
  background-color: antiquewhite;
}
#topBar h1 {
  background-color: blue;
  color: white;
  border-bottom: 1px solid black;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  /* padding: 5px; */
}

#listBar ol {
  border-right: 1px solid black;
  width: 100px;
  margin: 0px;
  padding: 20px;
  padding-left: 30px;
}
#topBar h1 a {
  text-decoration: none;
  color: white;
}
#listBar ol li a {
  text-decoration: none;
}

#content {
  padding-left: 20px;
}
#main {
  display: grid;
  grid-template-columns: 150px 1fr;
}

@media (max-width: 800px) {
  #main {
    display: block;
  }
  #listBar ol {
    border-right: none;
  }
}
